@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #495057;
    --primary: #343A40;
    --primary-dark: #212529;
    --primary-light: #6C757D;
    --accent: #D4A373;
    --text-primary: #495057;
    --text-secondary: #6C757D;
    --error: #DC3545;
    --error-light: #F8D7DA;
    --error-dark: #721C24;
    --success: #28A745;
    --success-light: #D4EDDA;
    --success-dark: #155724;
    --border: #CED4DA;
    --border-light: #E9ECEF;
    --border-dark: #ADB5BD;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: 'Lora', serif;
  }
}

@layer components {
  .hero-bg {
    background-image: url('/hero.png');
  }
}
